
html, body {
	background-color: #fff;
	color: #674ea7;
	height: 100vh;
	margin: 0px;
				
}
a {
	text-decoration: none;

}

.blur{
	background-color: rgba(25, 25, 25, 0.5);
	font-family: "Raleway", sans-serif;
	
}

.sombra {
	text-decoration: underline;
	top: 2%;
	position: relative;
	
}

#login {
	padding: 18px;
	color: #674ea7;
	background: #FFA500; 
	z-index: 9999;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}

.caronabottom{
	font-size: 16px;
	background: #FFA500;
	padding: 10px;
	width: 35%;
	font-weight: 600;
	margin: 0 auto;
	
}
.nos{
	width: 100%;
	margin: 0 auto;
	display: block;
	
}

.banner {
	width: 100%;
}

body{
	
	background-image: url("https://image.freepik.com/fotos-gratis/seta-de-madeira-branca-para-a-direcao-da-maneira_1304-3648.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	
}

#inicio {
	font-family: "Courgette", cursive;
}
.full-height {
	height: 100vh;
	
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	width: 100%;
	position: absolute;
	height: 6%;
	top: 0%;
	background: #674ea7;
	text-align: right;
	padding-top: 10px;
	position: fixed;
	z-index: 9999;
}

.gradiente{
	background: linear-gradient(#FFF, #DDF);
}
.content {
	text-align: center;
}

.title {
	font-size: 84px;
	font-family: 'Raleway', sans-serif;
	color: #FFF;
	
}

.m-b-md {
	margin-bottom: 30px;
}
.conteudo{
	width: 60%;
	margin: 0 auto;
	color: #000;
	text-align:justify;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	
}

.links > a {
	color: #FFA500;
	padding: 0 25px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-transform: uppercase;
	
}

.meuMenu > a {
    color: #FFA500;
	padding: 5px 25px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1rem;
	text-transform: uppercase;
	background: #674ea7;
	margin: 10px;


	
	
}


.hidden {
	display: none;
	z-index: 9999;
}


h1  {
	font-family: 'Courgette', cursive;
}

footer{
	background: #000;
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 5%;
	text-align: center;
	padding-top: 5px;
}

.logo {
	width: 205;
	height: 215px;
	position: relative;
	left: -10px;
}
#final {
	margin-right: 150px;
}

